
.grid {
    display: inline-grid;
    grid-template-columns: repeat(8, auto);
    padding: 0px;
}

.square {
    width: 4em;
    height: 4em;
    padding: 0px;
    transition-duration: 1500ms;
}

.square-light {
    background-color: #d79d4e;
    border: 5px solid #d79d4e;
}

.square-dark {
    background-color: #8b5000;
    border: 5px solid #8b5000;
}

.square:hover {
    border: 5px solid #6b3e00;
    transition-duration: 250ms;
    background-color: #6b3e00;
}

/* https://stackoverflow.com/questions/6921792/how-to-draw-circle-in-html-page#:~:text=There%20is%20not%20technically%20a%20way%20to%20draw,all%20elements%20into%20a%20circle%2C%20regardless%20of%20size. */

.circle {
    width: 4em;
    height: 4em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    
}

.black {
    background: black;
}

.white {
    background: white;
}

body {
    color: rgb(226, 226, 226);
    font-family: 'Roboto';
    text-decoration: none;
}

#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3em;
    background-color: grey;
}

#body-content {
    position: absolute;
    top: 3em;
    left: 0px;
    width: 100%;
    height: 80%;
    background-color: rgb(95, 95, 95);
}

.logout-btn {
    float: right;
}

button {
    margin: 10px;
    padding: 8px;
    border-radius: 2px;
    background-color: rgb(240, 144, 0);
    display: inline-block;
    border: none;
}

button:hover {
    background-color: rgb(206, 123, 0);
}

.logo {
    font-size: 32;
    text-align: center;
}

#name-display {
    float: right;
    margin: 15px;
}

h3 {
    margin: 1em;
}